@model Vidly.Models.Customer

<div>
    <h1>@Model.Name</h1>
    <hr />
    <dl class="dl-horizontal">
        <ul>
            <li><strong>Membership Type:</strong> @Model.MembershipType.Name</li>
            @if (@Model.BirthDate.HasValue)
            {
                <li><strong>Birthdate:</strong> @Model.BirthDate.Value.ToString("dd-MM-yyyy")</li>
            }
        </ul>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
