@model IEnumerable<Vidly.Models.Customer>


@if (!Model.Any())
{
    <p> We dont have any customers yet.</p>
}

<table class="table">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            Subscription Name
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => customer.Name)
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = customer.Id }) |
                @Html.ActionLink("Details", "Details", new { id = customer.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = customer.Id })
            </td>
        </tr>
    }

</table>
